@import "utils/colorPalette.scss";

html,
body {
    background: var(--hsl-bg);
    color: dark(75%);
    min-height: 100vh;
}

#app {
    min-height: 100vh;
    z-index: 1;
    position: absolute;
    inset: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
