:root {
    --base-saturation: 26%;
    --base-accent: 75%;

    $base-colours: (
        bg: (7%),
    );

    @each $name, $value in $base-colours {
        --hsl-#{$name}: hsl(var(--base-hue), var(--base-saturation), #{nth($value, 1)});
    }
}

@function dark($l) {
    @return hsl(var(--base-hue), var(--base-saturation), $l);
}

@function dark-a($l, $a) {
    @return hsla(var(--base-hue), var(--base-saturation), $l, $a);
}

@function accent($l) {
    @return hsla(var(--base-hue), var(--base-accent), $l, $a);
}