/*@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0D1116;

  --text-c1: #BEC9DA;
  --text-d1: #7D93B5;
}

body {
  color: var(--text-c1);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/