._home {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 50%), rgba(0, 0, 0, 0%));

    & > div {
        background-color: transparent;
        box-shadow: none;
        backdrop-filter: none;
    }
}
